@*
 * This file is part of the Nextbeat services.
 *
 * For the full copyright and license information,
 * please view the LICENSE file that was distributed with this source code.
 *@
@import views.html.helper
@import model.site.organization.SiteViewValueOrganizationList
@import play.api.data.Form

@import persistence.organization.model.OrganizationEdit
@(vv: SiteViewValueOrganizationList)(implicit messages: play.api.i18n.Messages)

@** 施設検索一覧 *@
@views.html.common.layout.InnerContent("site-app-new-user-form", "content") {
  @** --[ 見出し ]---------------------------------------------------------- *@
  <h3 class="content__section header">
    <span class="header__title">組織一覧</span>
  </h3>

  @** --[ Organization新規追加ボタン ]---------------------------------------------------------- *@
  <div class="content__section form">
      <div class="form__section pref inline">
          @helper.form(action = controllers.organization.routes.OrganizationController.add) {
            　<div class="form__section submit inline">
                  <button class="button" type="submit">
                      <span class="submit__text">新規追加</span>
                  </button>
              </div>
          }
      </div>
  </div>


   @** --[ 一覧 ]-------------------------------------------------------- *@
   <div class="content__section content">
   @for(organization <- vv.organizations) {
       <article class="facility-list-item">
           <a href="@controllers.organization.routes.OrganizationController.edit(organization.id.get)">
               <div class="item-panel__wrapper">
                   <header class="facility-item__header">
                       <div class="name">
                       @organization.chineseName
                       </div>
                   </header>
                   <section class="facility-item__content">
                       <div>
                           <div class="item-panel__content">
                               <div class="address">
                                   <label class="inline">ふりがな:</label>
                                   <p class="inline">
                                   @organization.phoneticName
                                   </p>
                               </div>
                               <div class="description">
                                   <label class="inline">ローマ字:</label>
                                   <p class="inline">
                                   @organization.englishName
                                   </p>
                               </div>
                           </div>
                       </div>
                   </section>
               </div>
           </a>
       </article>
   }
   </div>

}
